[submodule "sqlite_modern_cpp"]
	path = sqlite_modern_cpp
	url = https://github.com/SqliteModernCpp/sqlite_modern_cpp.git
[submodule "mysql-connector-cpp"]
	path = mysql-connector-cpp
	url = ./mysql-connector-cpp
[submodule "ThreadPool"]
	path = ThreadPool
	url = ./ThreadPool
